  <%- model_class = Game -%>
<div class="page-header game-play">
  <h2 class="visible-desktop"><%=@game.title%></h2>
  <strong><%= @user.title %>: </strong><%= @user.display_name %><br />
  <strong><%= @user.title_2 %>: </strong><%= @user.info_2 %><br />
</div>
<div class="row-fluid">
  <div class="span3 visible-desktop">
    <div class="well well-small sidebar-nav">
      <h3 class="green">Scoreboard</h4>
      <% @game.teams.each do |team| %>
        <h4><span class="red"><%= team.title %>:</span> <%= team.points %></h4>
      <% end %>
    </div>
  </div><!-- .span3 visible-desktop-->
  <div class="span6">
    <!-- team for the players -->
    <% if @team %>
      <% unless @team.answered?(@game) %>
        <% if @game.current_question %>
          <h3><span class="red">Q: </span><span id="current-question"><%= @game.current_question.text %> <%= @game.current_question.id %></span></h3>
        <% else %>
          <h3>No active question...</h3>
        <% end %>
        <% if @game.current_question %>
          <%= render :partial => 'submissions/form' %>
        <% end %>
      <% else %>
        <h3>Please wait for the next question!</h3>
      <% end %>
    <% else %>
      <h3><span class="red">Q: </span><span id="current-question"><%= @game.current_question.text %> <%= @game.current_question.id %></span></h3>
      <% if can? :edit, @game %>
          <div class="form-actions">
            <%= link_to "Add Question", new_game_question_path(@game.id), class: "btn btn-primary" %>
            <% if @game.active == false %>
              <%= link_to "Start Game", game_activate_path(@game.id), method: :put, class: "btn btn-success"%>
            <% else %>
              <%= link_to "Next Question", game_next_question_path(@game.id), remote: true, class: "btn btn-success" %>
            <% end %>
            <%= link_to "Edit Game", edit_game_path(@game), :class => 'btn btn-info' %>
          </div>
      <% end %>
    <% end %>
  </div><!-- .span 6-->
  <div class="span3">
    <div class="well well-small sidebar-nav">
      <h3 class="green text-center">Chat!</h3>
      <div id="chat-input">
        <div class="control-group">
          <form action='/messages' method="post">
            <input type='hidden' name="game_id" value="<%= @game.id %>" />
            <input type='hidden' name="team_name" value="<%= @user.display_name %>" />
            <input type='text' name='content' id="content" />
            <input type='submit' value='Submit' id="post" class="btn" />
          </form>
        </div><!-- control-group -->
      </div><!-- chat-input -->
      <div id="chat-content">
        <ul id="chat">
          <% @messages.each do |message| %>
            <li>
              <strong><%= message["team_name"] %>:</strong>
              <%= message["content"] %>
            </li>
          <% end %>
        </ul><!-- #chat -->
      </div><!-- #chat-content-->
    </div><!--.well well-small sidebar-nav -->
  </div><!-- .span 3-->
  <%= session.inspect %>
<script>
  $(function(){
    var client = new Faye.Client('http://localhost:9292/faye');

    client.subscribe("/messages/<%= @game.id %>", function (data) {
      $('#chat').prepend('<li><strong>' + data.text.team_name + ':</strong> ' + data.text.content + '</li>');
    });

    client.subscribe("/games/<%= @game.id %>/current-question", function(data) {
      eval(data);
    });

    $("#post").click(function() {
      event.preventDefault();
      var content = $("#content"),
          message = content.val();

      content.val('');
      $.ajax({
        type: "POST",
        url:  "/messages",
        data: {content: message, game_id: "<%= @game.id %>", team_name: "<%= @team_title %>"},
        dataType: "json",
        success: function (response) {
          console.log("Message was posted, you should see it soon from Faye");
          console.log(response);
        },
        error: function (error) {
          console.log("Message was not delivered. Faye Faye Faye, Why!");
          console.log(error);
        }
      });

    });
  });
</script>