  <%- model_class = Game -%>
<div class="page-header">
  <h1><%=@game.title%></h1>
  <strong><%= @game_info.title_1 %>: </strong><%= @game_info.display_name %><br />

  Game Pin: <%= @game.pin %></i></p>
  <p>Team: <%= @team_title %></p>
  <p>Points: <%#= @team.points %></p>

</div>
<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <div id="chat-content">
        <ul id="chat">
          <% @messages.each do |message| %>
            <li>
              <strong><%= message["team_name"] %>:</strong>
              <%= message["content"] %>
            </li>
          <% end %>
        </ul>
      </div><!-- end of #chat-content-->
      <div id="chat-input">
        <div class="control-group">
          <form action='/messages' method="post">
            <input type='hidden' name="game_id" value="<%= @game.id %>" />
            <input type='hidden' name="team_name" value="<%= @team_title %>" />
            <input type='text' name='content' id="content" />
            <input type='submit' value='Submit' id="post" />
          </form>
        </div>
      </div>
    </div><!--/.well -->
  </div><!--/span 3-->
  <div class="span9">
    <% if @question %>
      <h3> Question </h3>
        <%= @question.text %>
      <h3> Your Answer </h3>
        <%= render :partial => 'submissions/form' %>
    <% else %>
      <h1>No Questions Yet!</h1>
    <% end %>
    <% if session[:user_id]%>
      <%= link_to "Create Questions", new_game_question_path(@game.id), class: "btn" %>
    <% end %>
      <div class="form-actions">
        <% if can? :activate, @game %>
          <% if @game.active == false %>
            <%= link_to "Start Game", game_activate_path(@game.id), method: :put, class: "btn btn-success"%>
          <% end %>
        <% end %>
        <% if can? :activate, @game %>
          <% if @game.active == true %>
            <%= link_to "Pause Game", game_deactivate_path(@game.id), method: :put, class: "btn btn-warning"%>
          <% end %>
        <% end %>
        <% if can? :destroy, @game %>
          <%= link_to "Delete Game", game_path(@game.id), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete the game?" } %>
        <% end %>
        <% if can? :edit, @game %>
          <%= link_to "Edit Game", edit_game_path(@game), :class => 'btn btn-info' %>
        <% end %>
      </div>
  </div><!--/span 9-->

<script>
  $(function(){
    var client = new Faye.Client('http://localhost:9292/faye');

    client.subscribe("/messages/<%= @game.id %>", function (data) {
      $('#chat').append('<li><strong>' + data.text.team_name + ':</strong> ' + data.text.content + '</li>');
    });

    $("#post").click(function() {
      event.preventDefault();
      var content = $("#content"),
          message = content.val();

      content.val('');
      $.ajax({
        type: "POST",
        url:  "/messages",
        data: {content: message, game_id: "<%= @game.id %>", team_name: "<%= @team_title %>"},
        dataType: "json",
        success: function (response) {
          console.log("Message was posted, you should see it soon from Faye");
          console.log(response);
        },
        error: function (error) {
          console.log("Message was not delivered. Faye Faye Faye, Why!");
          console.log(error);
        }
      });

    });
  });
</script>
